@{
    ViewData["Title"] = "Prochaine fermeture";
}

<div class="text-center">
    <h1 class="display-4">Prochaine Fermeture</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date Fermeture</th>
                <th scope="col">Date Réouverture</th>
                <th scope="col">Nom du bateau ou évènement responsable de la fermeture</th>
                <th scope="col">Durée de la fermeture</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                        <tr>
                            <th>@item.ClosingDate</th>
                            <td>@item.ReopeningDate</td>
                            <td>@item.BoatName</td>
                            <td></td>
                        </tr>              
                }
            }
        </tbody>
    </table>
</div>
